<div class="container-fluid">
    <div class="row">
        <div class="main__home">
            <div class="left__home">
                <img src="https://s2.glbimg.com/EPCclUpcD8MwJ3gqsD5Nw1FsOgw=/0x0:595x599/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_63b422c2caee4269b8b34177e8876b93/internal_photos/bs/2021/c/8/vwEnBlQTOR5JMPV1qigw/captura-de-tela-2021-12-14-114837.jpg">
                <h1>Where does it come from?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Voluptate non odio consectetur odit aspernatur nisi <br> ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br> mollitia optio minus aliquid eos.Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Voluptate non odio consectetur odit aspernatur nisi <br> ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br> mollitia optio minus aliquid eos.Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Voluptate non odio consectetur odit aspernatur nisi <br> ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br> mollitia optio minus aliquid eos.</p>
            </div>
            <div class="right__home">
                <h1>Where does it come from?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptate non odio consectetur odit aspernatur nisi <br>ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br>mollitia optio minus aliquid eos.Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptate non odio consectetur odit aspernatur nisi <br>ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br>mollitia optio minus aliquid eos.Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptate non odio consectetur odit aspernatur nisi <br>ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br>mollitia optio minus aliquid eos.</p>
                <img src="https://conteudo.imguol.com.br/c/noticias/74/2022/06/06/bored-ape-nft-que-integra-a-colecao-do-bored-ape-yacht-club-1654521934017_v2_900x506.jpg">

            </div>
        </div>
    </div>
</div>