<div class="container-fluid">
    <div class="row">
        <div class="main__navbar">
            <div class="left__navbar">
                <ul class="navbar__elements">
                    <li class="navbar__elements_li">Galeria</li>
                    <li class="navbar__elements_li">Coleção</li>
                    <li class="navbar__elements_li">Artistas</li>
                    <li class="navbar__elements_li">Contato</li>
                    <li class="navbar__elements_li">Lance</li>
                </ul>
            </div>
            <div class="right__navbar">
                <button class="btn__navbar">Conectar</button>
            </div>
        </div>
    </div>
    
</div>